.asa 
{
  width: 50px;
  vertical-align: middle;
  border-radius: 20px;
  margin-right: 8px;
}
.statustext 
{
  width: 300px;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  vertical-align: middle;
  margin-right: 10px;
}
.tweet 
{
  vertical-align: middle;
  background-color:rgb(79, 173, 250);
  color:white;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 16px;
  padding-left: 16px;
  border: none;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
}
div 
{
width: 460px;
border-style: solid;
border-color: rgb(200,200,200);
box-shadow: 3px 2px 5px rgba(0,0,0,0.13);
border-width: 1px;
border-radius: 5px;
padding-top: 7px;
padding-bottom: 7px;
padding-left: 5px;
padding-right: 5px;
}