body {
  height: 3000px;
}
.blanket {
  width: 400px;
}
.sale {
  position: relative;
  display: inline-block;
}
.salepercentage {
  position: absolute;
  background-color: black;
  color: white;
  font-family: Arial;
  top: 15px;
  right: 0;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
}