body {
  height: 3000px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 50px;
  padding-left: 50px;
}
.leftsection {
  display: flex;
  align-items: center;
}
.image {
  width: 50px;
  }
.pfp {
  width: 50px;
  border-radius: 25px;
  object-fit: cover;
  margin-right: 10px;
}
.name {
  font-family: Arial;
  font-weight: bold;
}

.addfriend {
  background-color: rgb(57, 90, 255);
  color: white;
  border: none;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  margin-right: 3px;
  width: 101px;
}
.addfriend:hover {
  opacity: 0.8;
}
.addfriend:active {
  opacity: 0.5;
}
.message {
  background-color: rgb(199, 199, 199);
  border: none;
  color: black; 
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  width: 101px;
}
.message:hover {
  opacity: 0.8;
}
.message:active {
  opacity: 0.5;
}